[submodule "sdk/python"]
	path = sdk/python
	url = https://github.com/MoYeRanqianzhi/LinuxDoSpacePythonSDK.git
[submodule "sdk/rust"]
	path = sdk/rust
	url = https://github.com/MoYeRanqianzhi/LinuxDoSpaceRustSDK.git
[submodule "sdk/go"]
	path = sdk/go
	url = https://github.com/MoYeRanqianzhi/LinuxDoSpaceGoSDK.git
[submodule "sdk/nodejs"]
	path = sdk/nodejs
	url = https://github.com/MoYeRanqianzhi/LinuxDoSpaceNodeSDK.git
[submodule "sdk/c"]
	path = sdk/c
	url = https://github.com/MoYeRanqianzhi/LinuxDoSpaceCSDK.git
[submodule "sdk/cpp"]
	path = sdk/cpp
	url = https://github.com/MoYeRanqianzhi/LinuxDoSpaceCppSDK.git
[submodule "sdk/kotlin"]
	path = sdk/kotlin
	url = https://github.com/MoYeRanqianzhi/LinuxDoSpaceKotlinSDK.git
[submodule "sdk/java"]
	path = sdk/java
	url = https://github.com/MoYeRanqianzhi/LinuxDoSpaceJavaSDK.git
[submodule "sdk/csharp"]
	path = sdk/csharp
	url = https://github.com/MoYeRanqianzhi/LinuxDoSpaceCSharpSDK.git
[submodule "sdk/swift"]
	path = sdk/swift
	url = https://github.com/MoYeRanqianzhi/LinuxDoSpaceSwiftSDK.git
[submodule "sdk/dart"]
	path = sdk/dart
	url = https://github.com/MoYeRanqianzhi/LinuxDoSpaceDartSDK.git
[submodule "sdk/lua"]
	path = sdk/lua
	url = https://github.com/MoYeRanqianzhi/LinuxDoSpaceLuaSDK.git
[submodule "sdk/zig"]
	path = sdk/zig
	url = https://github.com/MoYeRanqianzhi/LinuxDoSpaceZigSDK.git
